/* 変数セット
------------------------------------------------------------ */
@use "../common" as *;


/*
============================================================

swiper

============================================================
*/

.swiper {
  &-container {
    width: 100%;
    height: 100%;
    overflow: inherit!important;
    background: $b1;
  }

  &-slide {
    @include flexbox();
    @include flexbox_j_cont(center);
    @include flexbox_align_itm(center);
    img {
      display: block;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-clip: border-box;
    }
    // transition: all .4s;
    // transform: scale(0.95,0.95);
    &-active {
      //transform: scale(1.0,1.0);
    }
  }

  &-pagination {
    width: auto!important;
    display: inline-block;
    position: relative;
    .swiper-pagination-bullet {
      background: $ee;
      opacity: .6;
      width: (4px*3)-2;
      height: (4px*3)-2;
      margin: 0 6px;
      top: 10px;
      right: 10px;
      &-active {
        opacity: 1;
        background: $tone_clr;
      }
    }
    &-recommend {
      width: auto!important;
      display: inline-block;
      position: relative;
      .swiper-pagination-bullet {
        background: $base_clr;
        opacity: .6;
        &-active {
          opacity: 1;
          background: $tone_clr;
        }
      }
    }
  }

}

.swiper-container-horizontal > .swiper-pagination-progressbar {
  height: 4px; /* プログレスバーの高さ */
  bottom: 0;
  top: inherit;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar {
	background: rgba(255, 255, 255, 0.5); /* 背景色：白・半透明 */
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: $tone_clr; /* 塗りつぶし：ピンク */
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  position: absolute;
  z-index: 10;
  top: 4px;
  right: (4px*2);
  bottom: inherit;
  left: inherit;
}
