/* 変数セット
------------------------------------------------------------ */
@use "../common" as *;

/*
============================================================

dxページ

============================================================
*/

.dx {
  font-feature-settings: "palt";
  &-main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0 32px 48px;
    @media screen and (min-width: $brake_md+1) {
      padding: 48px 0 80px;
      gap: 128px;
    }

    &-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      @media screen and (min-width: $brake_md+1) {
        gap: 32px;
      }
    }

    h2 {
      font-size: 20px;
      padding: 0 0 0 0;
      display: block;
      letter-spacing: 4px;
      line-height: 1.4;
      text-align: justify;
      word-break: break-all;
      width: 100%;
      @media screen and (min-width: $brake_md+1) {
        text-align: center;
        font-size: 24px;
      }
    }

    &-text {
      max-width: 800px;
      display: block;
      margin-inline: auto;
      padding: 0 0;
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 2.0;
      box-sizing: border-box;
      @media screen and (min-width: $brake_md+1) {
        align-items: center;
        text-align: justify;
        word-break: break-all;
        padding: 0 32px;
        line-height: 2.2;
      }

      h3 {
        font-size: 14px;
        padding: 0 0 8px 0;
        display: block;
        font-weight: bold;
        letter-spacing: 2px;
        text-align: left;
        line-height: 1.6;
        @media screen and (min-width: $brake_md+1) {
          text-align: center;
          letter-spacing: 2px;
          font-size: 16px;
          padding: 0 0 12px 0;
        }
      }

      ol {
        display: flex;
        flex-direction: column;
        gap: 12px;
        list-style: disc;
        padding: 24px 0;
        width: fit-content;
        margin-left: 12px;
        li {
          line-height: 1.6;
          padding: 0 0 0 0;
          text-align: justify;
          word-break: break-all;
          // font-weight: bold;
        }
      }
      &-signature {
        font-size: 12px;
        text-align: right;
        @media screen and (min-width: $brake_md+1) {
          text-align: center;
        }
      }
    }
  }

  &-security_action {
    display: block;
    width: 64px;
    margin: 0 auto;
    @media screen and (min-width: $brake_md+1) {
      width: 100px;
    }
  }
}