@charset "utf-8";

/*
============================================================

事例

============================================================
*/


/* カラー
------------------------------------------------------------ */
$sub_clr: #EEF3F3;
$light_clr: #BEE7E5;
// $text_clr: #1D1D1D;
// $introbg_clr: rgba(#FFF7E7, .5);


/* ob_facility_teled-example
------------------------------------------------------------ */
.ob_facility_teled-example {
  display: block;
  padding: 80px 0 40px 0;
  margin: 0 0 0 0;
  font-family: $dff;
  overflow-x: hidden;
  @media screen and (min-width: $brake_md+1) {
    padding: 104px 0 80px 0;
  }
  &-inr {
    display: block;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    @media screen and (min-width: $brake_md+1) {
      
    }
  }

  //キャッチコピー
  &-copy {
    display: block;
    padding: 40px 16px 32px;
    @media screen and (min-width: $brake_md+1) {
      padding: 80px 16px 56px;
    }
    &-inr {

    }
    &-h1 {
      text-align: center;
      display: block;
      span {
        display: block;
        color: $text_clr;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1.6;
        @media screen and (min-width: $brake_md+1) {
          font-size: 28px;
        }
        b {
          color: $main_clr;
          font-size: 26px;
          font-weight: 600;
          @media screen and (min-width: $brake_md+1) {
            font-size: 32px;
          }
        }
      }
      &::after {
        content: "";
        background: url(../img/example/h1deco.svg) center no-repeat;
        background-size: 32px 12px;
        width: 32px;
        height: 12px;
        display: block;
        margin: 16px auto 0;
      }
    }
  }

  //スライダー
  &-slider {
    display: block;
    background: $sub_clr;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0 auto 104px;
    padding: 24px 0 0;
    @media screen and (min-width: $brake_md+1) {
      width: 1200px;
      margin: 0 auto 136px;
      padding: 56px 0 0;
    }
    &-inr {
      display: block;
      width: 100%;
      position: relative;
    }
    .example {
      &-mainslider {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        position: relative;
        @media screen and (min-width: $brake_md+1) {
          width: 1020px;
          height: 540px;
          position:static;
          overflow: hidden;
        }
        .swiper {
          &-wrapper {
            margin: 0;
          }
          &-slide {
            figure {
              position: relative;
              img {

              }
              figcaption {
                position: absolute;
                z-index: 3;
                background: rgba($w0, .8);
                color: $b0;
                padding: 4px 8px;
                bottom: 8px;
                right: 8px;
                span {
                  letter-spacing: 2px;
                  line-height: 1.4;
                  display: inline-block;
                  font-size: 14px;
                }
              }
            }
          }
          &-pagination {
            display: block;
            &-bullet {
              width: 8px;
              height: 8px;
              background: $w0;
              opacity: 1.0;
              margin: 0 8px;
              @media screen and (min-width: $brake_md+1) {
                width: 12px;
                height: 12px;
              }
              &-active {
                background: $main_clr;
              }
              &s {
                bottom: -36px!important;
                @media screen and (min-width: $brake_md+1) {
                  bottom: 72px!important;
                }
              }
            }
          }
        }
        &-button {
          &-next, &-prev {
            cursor: pointer;
            &::after {
              content: "";
              display: inline-block;
              position: absolute;
              filter: brightness(100%);
              transition: filter .4s;
              top: 50%;
              width: 32px;
              height: 32px;
              margin: -16px 0 0 0;
              background: $main_clr url(../img/example/sldrbtn_arw.svg) center no-repeat;
              background-size: 4px 10px;
              z-index: 2;
              border-radius: 100%;
              @media screen and (min-width: $brake_md+1) {
                top: 240px;
                width: 35px;
                height: 70px;
                margin: 0;
                z-index: 0;
                background-color: unset;
                background-position: left 14px center, left 0 center;
                background-repeat: no-repeat, no-repeat;
                background-size: 12px 24px, 35px 70px;
                border-radius: 0;
              }
            }
            &:hover::after {
              background-position: left 13px center, left 0 center;
              filter: brightness(110%);
            }
          }
          &-next {
            &::after {
              right: 16px;
              transform: rotate(180deg);
              @media screen and (min-width: $brake_md+1) {
                right: 56px;
                background-image: url(../img/example/sldrbtn_arw.svg),
                                  url(../img/example/sldrbtn_bg.svg);
              }
            }
          }
          &-prev {
            &::after {
              left: 16px;
              @media screen and (min-width: $brake_md+1) {
                left: 56px;
                background-image: url(../img/example/sldrbtn_arw.svg),
                                  url(../img/example/sldrbtn_bg.svg);
              }
            }
          }
        }
      }
      &-thumbsslider {
        display: block;
        margin: 0 0 0 0;
        position: relative;
        top: 56px;
        overflow-x: hidden;
        @media screen and (min-width: $brake_md+1) {
          top: 64px;
        }
        .swiper {
          &-wrapper {
            margin: 0;
          }
          &-slide {
            cursor: pointer;
            filter: brightness(100%);
            transition: filter .4s;
            &:hover {
              filter: brightness(110%);
            }
          }
        }
      }
    }
  }

  //クライアント
  &-client {
    display: block;
    overflow: hidden;
    background: $sub_clr;
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    margin: 0 auto 64px;
    @media screen and (min-width: $brake_md+1) {
      width: 1020px;
      padding: 16px;
      margin: 0 auto 72px;
    }
    &-inr {
      width: 100%;
      overflow: hidden;
      background: $w0;
      margin: 0 0 0;
      box-sizing: border-box;
      border: 1.5px solid $main_clr;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      padding: 28px 16px;
      @media screen and (min-width: $brake_md+1) {
        flex-wrap: wrap;
        padding: 24px 32px 16px;
      }
    }
    &-l, &-r {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 100%;
      flex-wrap: wrap;
      @media screen and (min-width: $brake_md+1) {
        width: 55%;
        flex-wrap: wrap;
      }
    }
    &-l {
      @media screen and (min-width: $brake_md+1) {
        width: 56%;
      }
    }
    &-r {
      justify-content: flex-end;
      padding: 0 0 0 0;
      @media screen and (min-width: $brake_md+1) {
        width: 40%;
        padding: 0 0 0 0;
      }
    }
    &-name {
      display: block;
      box-sizing: border-box;
      overflow: hidden;
      width: 100%;
      @media screen and (min-width: $brake_md+1) {
        width: auto;
      }
      &-text {
        text-align: center;
        display: block;
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        line-height: 1.4;
        margin: 12px auto 0;
        @media screen and (min-width: $brake_md+1) {
          font-size: 22px;
          margin: 16px auto 0;
        }
      }
      &-logo {
        display: block;
        width: 160px;
        margin: 0 auto 0;
        @media screen and (min-width: $brake_md+1) {
          width: 180px;
          margin: 0 auto 0;
        }
        img {
          width: 100%;
          display: block;
        }
      }
    }
    &-data {
      width: 100%;
      @media screen and (min-width: $brake_md+1) {
        width: auto;
      }
      &-table {
        letter-spacing: 1px;
        padding: 16px 0;
        @media screen and (min-width: $brake_md+1) {
          padding: 16px 0;
        }
        table {
          background: none;
          border: none;
          font-size: 16px;
          //min-width: 240px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          @media screen and (min-width: $brake_md+1) {
            font-size: 16px;
            width: auto;
            display: block;
          }
          tr {
            background: none;
            border: none;
          }
          th {
            background: none;
            border: none;
            font-weight: 400;
            padding: 8px 20px 8px 8px;
            font-size: 16px;
            line-height: 1.6;
            min-width: 96px;
            @media screen and (min-width: $brake_md+1) {
              font-size: 16px;
            }
          }
          td {
            background: none;
            border: none;
            padding: 8px;
            font-size: 16px;
            line-height: 1.6;
            @media screen and (min-width: $brake_md+1) {
              font-size: 16px;
            }
          }
        }
      }
    }
    &-comment {
      border: 1px solid $main_clr;
      box-sizing: border-box;
      position: relative;
      padding: 28px 16px;
      @media screen and (min-width: $brake_md+1) {
        padding: 28px 24px;
        margin: 24px 0;
      }
      &::after {
        content: "";
        background: url(../img/example/turn.svg) center no-repeat;
        background-size: contain;
        width: 35px;
        height: 30px;
        display: block;
        margin: 0 auto 0;
        position: absolute;
        right: -1.5px;
        bottom: -1.2px;
      }
      &-inr {
        display: block;
        span {
          font-size: 16px;
          letter-spacing: 0;
          text-align: justify;
          word-break: break-all;
          display: inline-block;
          line-height: 1.8;
          @media screen and (min-width: $brake_md+1) {
            line-height: 2.0;
          }
        }
      }
    }
  }

  //解決・成果
  &-result {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto 64px;
    @media screen and (min-width: $brake_md+1) {
      width: 1020px;
      margin: 0 auto 72px;
    }
    &-inr {
      width: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0 0 0;
      box-sizing: border-box;
    }
    &-title {
      display: flex;
      justify-content: center;
      border-bottom: 3px solid $main_clr;
      margin: 0 0 16px 0;
      @media screen and (min-width: $brake_md+1) {
        display: block;
        margin: 0 0 16px 0;
      }
      &-main {
        background: $main_clr;
        border-radius: 10px 10px 0 0;
        display: inline-block;
        line-height: 1.0;
        padding: 10px 16px 6px 16px;
        @media screen and (min-width: $brake_md+1) {
          padding: 16px 16px 13px 16px;
        }
        &-inr {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
      span {
        color: $w0;
        letter-spacing: 1px;
        line-height: 1.0;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 18px;
        @media screen and (min-width: $brake_md+1) {
          font-size: 20px;
        }
        &.irglr {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          &-r, &-l {
            &::before {
              margin-right: 8px;
              margin-bottom: 1px;
              content: "";
              display: inline-block;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              width: 30px;
              height: 26px;
              @media screen and (min-width: $brake_md+1) {
                width: 34px;
                height: 30px;
              }
            }
          }
          &-r {
            &::before {
              background-image: url(../img/example/ico-theme.svg);
            }
            &::after {
              margin-right: 8px;
              margin-left: 16px;
              content: "";
              display: inline-block;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              background-image: url(../img/example/ico-arw-r.svg);
              width: 12px;
              height: 18px;
              @media screen and (min-width: $brake_md+1) {
                width: 13px;
                height: 21px;
              }
            }
          }
          &-l {
            &::before {
              background-image: url(../img/example/ico-result.svg);
            }
          }
        }
      }
    }
    &-data {
      &-inr {
        padding: 8px 16px;
        @media screen and (min-width: $brake_md+1) {
          padding: 0;
        }
      }
      &-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        margin: 0 0 16px 0;
        &-l, &-r {
          overflow: hidden;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          width: 100%;
          @media screen and (min-width: $brake_md+1) {
            width: 50%;
          }
          span {
            font-size: 16px;
            line-height: 1.8;
            letter-spacing: 0;
            text-align: justify;
            word-break: break-all;
            @media screen and (min-width: $brake_md+1) {
              line-height: 2.0;
            }
          }
        }
        &-l {
          background: $sub_clr url(../img/example/ico-theme.svg) left 16px top 21px no-repeat;
          background-size: 30px 26px;
          border-radius: 10px 10px 0 0;
          padding: 20px 24px 20px 60px;
          @media screen and (min-width: $brake_md+1) {
            background: $sub_clr url(../img/example/ico-theme.svg) left 16px center no-repeat;
            background-size: 34px 30px;
            border-radius: 10px 0 0 10px;
            padding: 20px 24px 20px 64px;
          }
        }
        &-r {
          background-color: $light_clr;
          background-image: url(../img/example/ico-result.svg),
                            url(../img/example/ico-arw-d.svg);
          background-position: top 20px left 12px,top -8px center;
          background-size: 30px 26px, 30px 26px;
          background-repeat: no-repeat, no-repeat;
          border-radius: 0 0 10px 10px;
          padding: 20px 24px 20px 60px;
          @media screen and (min-width: $brake_md+1) {
            background-image: url(../img/example/ico-result.svg),
            url(../img/example/ico-arw-r.svg);
            background-position: left 24px center, left -12px center;
            background-size: 34px 30px, 34px 30px;
            background-repeat: no-repeat, no-repeat;
            border-radius: 0 10px 10px 0;
            padding: 20px 28px 20px 72px;
          }
        }
      }
    }
  }

  //提供サービス
  &-service {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto 64px;
    @media screen and (min-width: $brake_md+1) {
      width: 1020px;
      margin: 0 auto 72px;
    }
    &-inr {
      width: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0 0 0;
      box-sizing: border-box;
    }
    &-title {
      display: flex;
      justify-content: center;
      border-bottom: 3px solid $main_clr;
      margin: 0 0 16px 0;
      @media screen and (min-width: $brake_md+1) {
        display: block;
        margin: 0 0 16px 0;
      }
      &-main {
        background: $main_clr;
        border-radius: 10px 10px 0 0;
        display: inline-block;
        line-height: 1.0;
        padding: 10px 16px 6px 16px;
        @media screen and (min-width: $brake_md+1) {
          padding: 16px 16px 13px 16px;
        }
        &-inr {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
      span {
        color: $w0;
        letter-spacing: 1px;
        line-height: 1.0;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 18px;
        @media screen and (min-width: $brake_md+1) {
          font-size: 20px;
        }
      }
    }
    &-text {
      display: block;
      padding: 0 28px 0;
      text-align: justify;
      word-break: break-all;
      @media screen and (min-width: $brake_md+1) {
        padding: 0 0 0;
      }
      span {
        font-size: 16px;
        letter-spacing: 2px;
        text-align: justify;
        word-break: break-all;
        line-height: 1.8;
        @media screen and (min-width: $brake_md+1) {
          line-height: 2.0;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }

  //図
  &-figure {
    display: block;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background: $sub_clr;
    margin: 0 auto 64px;
    @media screen and (min-width: $brake_md+1) {
      margin: 0 auto 72px;
    }
    &-inr {
      overflow: hidden;
      margin: 0 auto 0;
      box-sizing: border-box;
      width: 100%;
      padding: 28px 16px;
      @media screen and (min-width: $brake_md+1) {
        width: 1020px;
        padding: 64px 0;
      }
    }
    &-img {
      width: 100%;
      display: block;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      img {
        display: block;
        width: 100%;
      }
    }
    &-notes {
      display: block;
      padding: 16px 16px 0;
      @media screen and (min-width: $brake_md+1) {
        padding: 24px 24px 0;
      }
      span {
        font-size: 16px;
        line-height: 2.0;
        letter-spacing: 2px;
        text-align: justify;
        word-break: break-all;
      }
    }
  }

  //担当者コメント
  &-manager {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto 64px;
    @media screen and (min-width: $brake_md+1) {
      width: 1020px;
      margin: 0 auto 72px;
    }
    &-inr {
      width: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0 0 0;
      box-sizing: border-box;
    }
    &-title {
      display: flex;
      justify-content: center;
      border-bottom: 3px solid $main_clr;
      margin: 0 0 16px 0;
      @media screen and (min-width: $brake_md+1) {
        display: block;
        margin: 0 0 16px 0;
      }
      &-main {
        background: $main_clr;
        border-radius: 10px 10px 0 0;
        display: inline-block;
        line-height: 1.0;
        padding: 10px 16px 6px 16px;
        @media screen and (min-width: $brake_md+1) {
          padding: 16px 16px 13px 16px;
        }
        &-inr {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
      span {
        color: $w0;
        letter-spacing: 1px;
        line-height: 1.0;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 18px;
        @media screen and (min-width: $brake_md+1) {
          font-size: 20px;
        }
      }
    }
    &-box {
      display: block;
      width: 100%;
      @media screen and (min-width: $brake_md+1) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-img {
        display: block;
        width: 128px;
        margin: 24px auto 16px;
        @media screen and (min-width: $brake_md+1) {
          margin: 0;
        }
        img {
          display: block;
          width: 100%;
        }
      }
      &-text {
        display: block;
        width: 100%;
        padding: 0 28px 0;
        box-sizing: border-box;
        @media screen and (min-width: $brake_md+1) {
          width: calc(100% - 128px);
          padding: 0 0 0 28px;
        }
        span {
          font-size: 16px;
          letter-spacing: 2px;
          text-align: justify;
          word-break: break-all;
          line-height: 1.8;
          @media screen and (min-width: $brake_md+1) {
            line-height: 2.0;
          }
        }
      }
    }
  }

  //類似 or 最新の事例を見る
  &-relation {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto 32px;
    @media screen and (min-width: $brake_md+1) {
      width: 1020px;
      margin: 0 auto 72px;
    }
    &-inr {
      width: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0 0 0;
      box-sizing: border-box;
    }
    &-title {
      display: flex;
      justify-content: center;
      border-bottom: 3px solid $main_clr;
      margin: 0 0 16px 0;
      @media screen and (min-width: $brake_md+1) {
        display: block;
        margin: 0 0 16px 0;
      }
      &-main {
        background: $main_clr;
        border-radius: 10px 10px 0 0;
        display: inline-block;
        line-height: 1.0;
        padding: 10px 16px 6px 16px;
        @media screen and (min-width: $brake_md+1) {
          padding: 16px 16px 13px 16px;
        }
        &-inr {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
      span {
        color: $w0;
        letter-spacing: 1px;
        line-height: 1.0;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 18px;
        @media screen and (min-width: $brake_md+1) {
          font-size: 20px;
        }
      }
    }
    &-box {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      overflow: hidden;
      padding: 0 0 0;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: $w0;
        width: 100%;
        height: 34px;
        display: block;
        z-index: 20;
        @media screen and (min-width: $brake_md+1) {
          height: 26px;
        }
      }
      @media screen and (min-width: $brake_md+1) {
        padding: 0 0 0 0;
      }
      &-inr {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin: 8px 0 16px 0;
        position: relative;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 0 0 28px 0;
        -webkit-overflow-scrolling: touch;
        @media screen and (min-width: $brake_md+1) {
          padding: 0 0 20px 0;
        }
      }
      &-item {
        display: block;
        width: 312px;
        flex: 0 0 auto;
        margin: 0 8px 0;
        &:first-child {
          margin: 0 8px 0 16px;
          @media screen and (min-width: $brake_md+1) {
            margin: 0 8px 0 0;
          }
        }
        &:last-child {
          margin: 0 16px 0 8px;
          @media screen and (min-width: $brake_md+1) {
            margin: 0 0 0 8px;
          }
        }
        @media screen and (min-width: $brake_md+1) {
          width: 332px;
        }
        
        a {
          &:hover {
            color: $b0;
            opacity: .4;
          }
        }

        &-img {
          display: block;
          width: 100%;
          margin: 0 0 16px;
          img {
            display: block;
            width: 100%;
          }
        }
        &-cap {
          display: block;
          padding: 0 0 0 0;
          box-sizing: border-box;
          margin: 0 0 12px;
          text-align: justify;
          word-break: break-all;
          span {
            font-size: 18px;
            line-height: 1.6;
            letter-spacing: 2px;
            font-weight: 600;
          }
        }
        &-text {
          display: block;
          padding: 0 0 0 0;
          box-sizing: border-box;
          text-align: justify;
          word-break: break-all;
          span {
            font-size: 16px;
            line-height: 1.6;
            letter-spacing: 1px;
            text-align: justify;
            word-break: break-all;
          }
        }
      }
    }
  }
  
}